a{
color: #fff;
text-decoration: none;
}
html{
background:  linear-gradient(to bottom right, #D0E1F9,  #4D648D );
background-attachment: fixed;
min-height: 100%;
font-family: Helvetica;
display: flex;
flex-direction: column;
}
body{
margin: 0;
padding: 0 15px;
display: flex;
flex-direction: column;
flex: auto;
}
h1{
margin-top: 0;
}
h1, p{  
color: #1E1F26;
}
img{
border: 0;
}
.header{
box-shadow: 0px 3px 12px 0px #000;
background: linear-gradient(360deg, #1E1F26 0%, #283655 100%);
width: 100%;
height: 64px;
min-width: 460px;
max-width: 1440px;
margin: 0 auto 30px;
padding: 30px 0 10px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
box-sizing: border-box;
border-radius: 0px 0px 25px 25px;

}
.logo{
filter: drop-shadow(5px 5px 10px #000);
font-size: 1.5rem;
color: #fff;
text-decoration: none;
margin-top: -25px;
justify-content: center;
align-items: center;
display: flex;
flex: none;
align-items: center;
/* background: #839FFF;  */
width: 130px;
height: 50px;
}
.nav{
margin: -5px 0 0 -5px;
display: flex;
flex-wrap: wrap;

}
.nav-item{
/* background: #BDC7FF; */
border-left: 5px solid #D0E1F9;
border-radius: 2px;
width: 100px;
height: 10px;
font-size: 16px;
color: #fff;
text-decoration: none;
display: flex;
margin: 5px 0 0 5px;
justify-content: center;
align-items: center;
}
.sqr{
height: 300px;
width: 300px;
background: #FFDB89;
}

.main{

width: 100%;
min-width: 460px;
max-width: 960px;
margin: auto;
flex: auto;
box-sizing: border-box;
}
.box{
height: 250px;
font-size: 1.25rem;
line-height: 1.5;
margin: 0 0 40px -50px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.box-base{
    filter: drop-shadow(5px 5px 10px #000);
border-radius: 15px;
text-align: center;
background: #fff url(https://www.escape-technology.com/media/k2/items/cache/4eadae682909e5571fe2c1a4fc6acd34_L.jpg) center center/cover no-repeat fixed;  
margin-left: 50px;
padding-top: 90px;
flex: 1 0 430px;
}
.box-side{
margin-left: 50px;
font: none;
}
.box-img{
max-width: 100%;
height: auto;
}
.content{
margin-bottom: 30px;
display: flex;
flex-wrap: wrap;
}
.banners{
flex: 1;

}
.banner{
background: #FFDB89;
width: 300px;
height: 300px;
min-width: 100px;
min-height: 200px;
font-size: 3rem;
color: #fff;
margin: -45px 0px 0px 9px;
display: flex;
justify-content: center;
align-items: center;
}
.posts{
/* margin: 0px 30px 10px 0px; */
flex: 1 1 200px;
text-align: center    ;

}

.post1{

padding-top: 10px;
margin-left: 9px;
padding-right: 0px;
background: white;
height: 400px;
width: 300px;
margin-bottom: 0px;


}

.post2{
    padding-top: 30px;
margin-left: 9px;
padding-right: 0px;
background: white;
height: 380px;
width: 300px;
margin-bottom: 0px;
}

.post3{
   padding-top: 10px;
margin-left: 9px;
padding-right: 0px;
background: white;
height: 400px;
width: 300px;
margin-bottom: 0px;

}

.button{
margin-top: 7px;
    
}

.buttons{
    background: #1E1F26;
    height: 35px;
    width: 300px;
    margin-left: 9px;
}

.footer{
background: #474747;
width: 1440px;
height: 75px;
/* max-width: 960px; */
min-width: 460px;
color: #fff;
margin: auto;
padding: 30px;
box-sizing: border-box;
text-align: center;
}


@media screen and  (max-width: 800px) {
.banners{
margin-left: -30px;
display: flex;
flex-basis: 100%;
}
.banner{
margin-left: 30px;
}
.posts{
margin-left: 0;
}
}
@media screen and  (max-width: 600px) {
.content{
display: block;
}
.banners{
margin: 0;
display: block;
}
.banner{
margin-left: 0;
}
.posts{
margin: 0;
}
}
